<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop 05</title>
    <link type="text/css" rel="stylesheet" href="../CSS/MyStyle.css">
    <style>
        table{
            margin:10% 0% 5% 30%;
            font-size: 40px;
        }
        table tr{
            text-align: center;
        }
        table td{
            padding:20px;
        }
    </style>
</head>
<body id="shop05">
<img id="titreLogo" src="../IMAGE/13.png">
<table>
    <tr>
        <td>日期</td>
        <td>时间</td>
        <td>人数</td>
    </tr>
</table>
<div id="formulaire">
    <form>
        <select class="formule">
            <option value="女士"><p>女士</p></option>
            <option value="男士"><p>男士</p></option>
        </select>
        <input class="nom" type="text"  placeholder="     姓" />
        <input class="prenom" type="text"  placeholder="     名"/>
        <input class="formule" type="email"  placeholder="     邮箱"/>
        <input class="formule" type="number"  placeholder="     电话"/>
        <input class="formule" type="text"  placeholder="     微信号"/>
        <input id="valide" type="submit" value="确认预定"/>
    </form>
</div>
<canvas id="CanvasLine"  height="50" ></canvas>
<div id="shop05contenue">
    <p id="shop05Titre">店铺名称</p>
    <P id="shop05Adresse">地址</P>
</div>
<script>
    var c=document.getElementById("CanvasLine");
    c.width=document.body.clientWidth*0.3;
    c.style.margin="10% 0% 10% 35%";
    var ctx=c.getContext("2d");
    ctx.fillStyle="black";
    ctx.fillRect(0,25,document.body.clientWidth*0.3,10);  /* (x坐标,y坐标,长,宽) */
</script>
</body>
</html>