<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加 shop category</title>
</head>
<body>
<div>
    <form action="post.shtml?method=create" method="post">
        <table border="1">
            <th colspan="4">添加 shop category</th>
            <tr>
                <td>shop category name</td>
                <td><input type="text" required="required" name="shop_category_name" placeholder="new shop category name"></td>
            </tr>
            <tr>
                <td>description</td>
                <td><input type="text" required="required" name="description" placeholder="new description"></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="         添加         " style="display: block;margin: 0 auto 0"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>