body{
    background-color: #AEBABB;
    height:100%;
}
h2{
    text-align: center;
}
.bloc{
    border:solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 10px 10px #888888;
    margin-top: 2%;

}
.bloc:nth-child(even){
    float: right;
    margin-right: 15px;
}
.bloc:nth-child(odd){
    float: left;
    margin-left: 15px;
}
#left_top{
    width:25%;
    height:200px;
}
#left_bot{
    width:25%;
    height:500px;
}
#right_top{
    width:70%;
    height:500px;
}
#right_bot{
    width:70%;
    height:200px;
}
table{
    float: left;
    margin-left: 20%;
    text-align: center;
}
table tr td{
    padding: 5px;
}
table th{
    text-decoration: underline;
}