<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="__ROOT__/Application/Merchant/View/static/css/Index/change_password.css">
    <title>change password</title>
</head>
<body>
<form action="__SELF__" method="post">
    <table border="0">
        <th colspan="6">change password</th>
        <tr>
            <td><p>shop name</p></td>
            <td><input type="text" name="username" readonly value={$username}></td>
        </tr>
        <tr>
            <td><p>password</p></td>
            <td><input type="password" name="password" required="required"></td>
        </tr>
        <tr>
            <td><p>new password</p></td>
            <td><input type="password" name="new_password" required="required"></td>
        </tr>
        <tr>
            <td colspan="2">
			<input type="hidden" value="submitted" name="action">
			<input type="submit" value="         valide         " style="display: block;margin: 0 auto 0"></td>
        </tr>
    </table>
</form>
</body>
</html>