<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>contact us</title>
</head>
<body>
<h1>tel.(+33) 6 33 50 39 48</h1>
<form hidden action="__SELF__" method="post">
    <table border="1">
        <th colspan="6">contact us</th>
        <tr>
            <td>Shop</td>
            <td><input type="text" name="username" readonly value={$username}></td>
        </tr>
        <tr>
            <td colspan="2">
			<input type="hidden" value="submitted" name="action">
			<input type="submit" value="         valide         " style="display: block;margin: 0 auto 0"></td>
        </tr>
    </table>
</form>
</body>
</html>