<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magacin</title>
    <link rel="stylesheet" href="../CSS/weui.css"/>
    <link rel="stylesheet" href="../CSS/weui.min.css" />
</head>
<!-- 这个文件使用了 WeUI的框架,因此整个div中 以weui开头的class名不能更改也不能删去 -->
<body>
    <div class="weui_tab">
        <div class="weui_tab_bd">
            <table>
                <tr>
                    <td>row 1 , col 1</td>
                    <td>row 1 , col 2</td>
                </tr>
                <tr>
                    <td>row 2 , col 1</td>
                    <td>row 2 , col 2</td>
                </tr>
            </table>
        </div>
        <div class="weui_tabbar">
            <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
                <div class="weui_tabbar_icon">
                    <img src="../IMAGE/street.png" alt="icon">
                </div>
                <p class="weui_tabbar_label">街景</p>
            </a>
            <a href="javascript:;" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="../IMAGE/map.png" alt="icon">
                </div>
                <p class="weui_tabbar_label">地图</p>
            </a>
            <a href="javascript:;" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="../IMAGE/navigate.png" alt="icon">
                </div>
                <p class="weui_tabbar_label">导航</p>
            </a>
            <a href="javascript:;" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="../IMAGE/buy.png" alt="icon">
                </div>
                <p class="weui_tabbar_label">购买</p>
            </a>
        </div>
    </div>
</body>
</html>