<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>brand列表</title>
</head>
<body>
<div>
    <table border="1">
        <th colspan="9">brand列表</th>
        <tr>
            <td>brand id</td>
            <td>brand name</td>
            <td>origin</td>
            <td>year</td>
            <td>category</td>
            <td>tag</td>
            <td>icon</td>
            <td>description</td>
            <td colspan="2">
                <a href="create.shtml">
                    <input type="button" value="       添加       " style="background-color: orange">
                </a>
            </td>
        </tr>
        <volist name="brand_list" id="brand">
            <tr>
                <td>{brand.id}</td>
                <td>{brand.brand_name}</td>
                <td>{brand.origin}</td>
                <td>{brand.year}</td>
                <td>{brand.category}</td>
                <td>{brand.tag}</td>
                <td>{brand.icon}</td>
                <td>{brand.description}</td>
                <td colspan="2">
                    <a href="update.shtml?id={$brand.id}">
                        <input type="button" value="修改">
                    </a>
                    <a href="post.shtml?method=delete&id={$brand.id}">
                        <input type="button" value="删除">
                    </a>
                </td>
            </tr>
        </volist>
    </table>
</div>
</body>
</html>