<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加 brand</title>
</head>
<body>
<div>
    <form action="post.shtml?method=create" method="post">
        <table border="1">
            <th colspan="9">添加 brand</th>
            <tr>
                <td>brand name</td>
                <td><input type="text" required="required" name="brand_name" placeholder="new brand name"></td>
            </tr>
            <tr>
                <td>origin</td>
                <td><input type="text" required="required" name="origin" placeholder="new origin"></td>
            </tr>
            <tr>
                <td>year</td>
                <td><input type="text" required="required" name="year" placeholder="new year"></td>
            </tr>
            <tr>
                <td>category</td>
                <td><input type="text" required="required" name="category" placeholder="new category"></td>
            </tr>
            <tr>
                <td>tag</td>
                <td><input type="text" required="required" name="tag" placeholder="new tag"></td>
            </tr>
            <tr>
                <td>icon</td>
                <td><input type="text" required="required" name="icon" placeholder="new icon"></td>
            </tr>
            <tr>
                <td>description</td>
                <td><input type="text" required="required" name="description" placeholder="new description"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="         添加         " style="display: block;margin: 0 auto 0"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>