<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moi 04</title>
    <link rel="stylesheet" href="../CSS/MyStyle.css">
    <script src="../JS/MaScript.js"></script>

</head>
<body id="PageMoi04">
    <h1 id="Moi04Titre"> 我的收藏 </h1>
    <div id="Moi04Navi">
        <ul>
            <li>
                <a href="#">店铺</a>
            </li>
            <li>
                <a href="#">商品</a>
            </li>
            <li>
                <a href="#">品牌</a>
            </li>
            <li>
                <a href="#">餐厅</a>
            </li>
        </ul>
    </div>
    <div id="Moi04Contenue">
        <ul>
            <li>
                <table>
                    <tr>
                        <td><img class="Moi04Img" src="../IMAGE/shoucang1.png"></td>
                        <td class="Moi04TableEspace"></td>
                        <td><div style="text-align: center ">
                            <img class="Moi04ImgShoucang" src="../IMAGE/MOI/收藏1.png">
                            <p>Chloé</p>
                            <p>巴黎旗舰店</p>
                        </div></td>
                    </tr>
                </table>
            </li>
            <li>
                <table>
                    <tr>
                        <td><img class="Moi04Img" src="../IMAGE/shoucang2.png">
                        </td>
                        <td class="Moi04TableEspace"></td>
                        <td><div style="text-align: center">
                            <img class="Moi04ImgShoucang" src="../IMAGE/MOI/收藏1.png">
                            <p>Bottega Veneta</p>
                            <p>葆蝶家</p>
                        </div></td>
                    </tr>
                </table>
            </li>
            <li>
                <table>
                    <tr>
                        <td><img class="Moi04Img" src="../IMAGE/shoucang3.png"></td>
                        <td class="Moi04TableEspace"></td>
                        <td><div style="text-align: center">
                            <img class="Moi04ImgShoucang" src="../IMAGE/MOI/收藏1.png">
                            <p>Bottega Veneta</p>
                            <p>KNOT银色编织手拿包</p>
                        </div></td>
                    </tr>
                </table>
            </li>
            <li>
                <table>
                    <tr>
                        <td><img class="Moi04Img" src="../IMAGE/shoucang4.png"></td>
                        <td class="Moi04TableEspace"></td>
                        <td><div style="text-align: center">
                            <img class="Moi04ImgShoucang" src="../IMAGE/MOI/收藏2.png">
                            <p>ottega Veneta</p>
                            <p>葆蝶家巴黎蒙田大酒店</p>
                        </div></td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
</body>
</html>