<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moi 05</title>
    <link rel="stylesheet" href="../CSS/MyStyle.css">
    <script src="../JS/MaScript.js"></script>
</head>
<body id="PageMoi05">
    <h1 id="Moi05Titre"> 预约详情 </h1>
    <div id="Moi05Formul">
        <form>
            <table cellspacing="10">
                <tr>
                    <td colspan="2" ><input type="text" placeholder="   预约人"></td>
                </tr>

                <tr>
                    <td><input type="text" placeholder="   国家"></td>
                    <td><input type="text" placeholder="   城市"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="text" placeholder="   联系电话"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="text" placeholder="   护照号"></td>
                </tr>
            </table>
            <p>*单次预约不能超过十家店</p>
        </form>
    </div>
    <div id="Moi05Select">
        <h1> B </h1>
        <ul>
            <li>
                <p>Balenciga - 巴黎圣日耳曼店 <span> <img class="Moi05SelectTag" src="../IMAGE/16.png"> </span></p>
            </li>
            <li>
                <p>Bottega Veneta - 巴黎春天店 <span><img class="Moi05SelectTag"  src="../IMAGE/14.png"></span></p>
            </li>
            <li>
                <p>Bottega Veneta - 巴黎蒙田大道店 <span><img class="Moi05SelectTag"  src="../IMAGE/16.png"></span></p>
            </li>
            <li>
                <p>Bonpoint - 巴黎春天店<span><img class="Moi05SelectTag"  src="../IMAGE/14.png"></span></p>
            </li>
            <li>
                <p>BBreguet - 巴黎蒙田大道店<span><img class="Moi05SelectTag"  src="../IMAGE/16.png"></span></p>
            </li>
            <li>
                <p>Brioni - 巴黎春天店<span><img  class="Moi05SelectTag" src="../IMAGE/14.png"></span></p>
            </li>
        </ul>
        <form>
            <p style="text-align: center; font-size: 30px">选择时间</p>
            <input type="date" id="Moi05SelectDate">
            <input type="submit" id="Moi05Valider" value="确定预约">
        </form>

        <p>&nbsp</p>
        <p>&nbsp</p>
        <p>&nbsp</p>
    </div>
</body>
</html>