<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QRcode</title>
    <style>
        body{
            background-color: #AFBCBF;
            width:100%;
        }
        button{
            text-align: center;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <a href="MOI.html"> <img src="../IMAGE/9.png" style="width: 50px; margin-bottom: 15%; margin-top: 10%;margin-left: 10%"> </a>
    <img src="../IMAGE/MOI/二维码.jpg" style="width: 100%">
</body>
</html>