<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VoucherTrade列表</title>
</head>
<body>
<div>
    <table border="1">
	
		<th colspan="4">Voucher列表
            <td>
				<a href="voucher_trade.shtml?page={$last_page}">
                    <input type="button" value="上一页" style="background-color: orange">
                </a>
				<span>{$current_page}/{$max_page}</span>
		        <a href="voucher_trade.shtml?page={$next_page}">
				<input type="button" value="下一页" style="background-color: orange">
                </a>
			</td>
			<td>
			    <a href="search.shtml">
				<input type="button" value="查找" style="background-color: orange">
                </a>
			</td>
		</th>
        <tr>
            <td>voucher</td>
            <td>Code</td>
            <td>操作员邮箱</td>
            <td>交易金额</td>
            <td>提成金额</td>
            <td>订单时间</td>
        </tr>
		<volist name="trade_list" id="trade">
		<tr>
			<td>{$trade.voucher_name}</td>
			<td>{$trade.voucher_detail}</td>
			<td>{$trade.trader_email}</td>
			<td>{$trade.trans_amount}</td>
			<td>{$trade.commision_amount}</td>
			<td>{$trade.trans_create_time}</td>
		</tr>
		</volist>
    </table>
</div>
</body>
</html>