<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改 menu</title>
</head>
<body>
<div>
    <form action="post.shtml?method=update&id={$menu.id}" method="post">
        <table border="1">
            <th colspan="6">修改 menu</th>

            <tr>
                <td>restaurant id</td>
                <td><input type="text" required="required" name="restaurant_id" value={$menu.restaurant_id} ></td>
            </tr>
            <tr>
                <td>name</td>
                <td><input type="text" required="required" name="name" value={$menu.name} ></td>
            </tr>
            <tr>
                <td>price</td>
                <td><input type="text" required="required" name="price" value={$menu.price} ></td>
            </tr>
            <tr>
                <td>description</td>
                <td><input type="text" required="required" name="description" value={$menu.description} ></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="         修改         " style="display: block;margin: 0 auto 0"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>