<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改商圈</title>
</head>
<body>
<form action="post.shtml?method=update&id={$commercial_area.id}" method="post">
    <table border="1">
        <th colspan="6">修改商圈</th>
        <tr>
            <td>所属城市</td>
            <td>
                <select name="city">
				<volist name="city_list" id="city">
					<option value="{$city.id}" 
					<eq name="city['id']" value="$commercial_area['city']">selected </eq> 
					>{$city.name},{$city.country}</option>
				</volist>
                </select>
            </td>
        </tr>
        <tr>
            <td>商圈名称</td>
            <td><input type="text" required="required" name="area_name" value={$commercial_area.area_name}></td>
        </tr>
        <tr>
            <td>商圈描述</td>
            <td><input type="text" required="required" name="description" value={$commercial_area.description}></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="         修改         " style="display: block;margin: 0 auto 0"></td>
        </tr>
    </table>
</form>
</body>
</html>