<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户信息</title>
</head>
<body>
<div>
    <form action="#" method="post">
        <table border="1">
            <th colspan="6">修改用户信息</th>
            <tr>
                <td>ID</td>
                <td><input type="text" name="UserId" placeholder="1"></td>
            </tr>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="UserName" placeholder="User1"></td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td><input type="text" name="UserMail" placeholder="user1111@hotmail.com"></td>
            </tr>
            <tr>
                <td>所属店铺</td>
                <td><input type="text" name="UserStore" placeholder="巴黎春天"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="         修改         " style="display: block;margin: 0 auto 0"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>