<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>admin_user列表</title>
</head>
<body>
<div>
    <table border="1">
        <th colspan="11">admin_user列表</th>
        <tr>
            <td>管理员id</td>
            <td>管理员职能</td>
            <td>用户名</td>
            <td>邮箱</td>
            <td>上次登陆时间</td>
            <td>上次登陆ip</td>
            <td>登陆次数</td>
            <td colspan="2">
                <a href="create.shtml">
                    <input type="button" value="       添加       " style="background-color: orange">
                </a>
            </td>
        </tr>
        <volist name="admin_user_list" id="admin_user">
            <tr>
                <td>{$admin_user.id}</td>
                <td>{$admin_user.title}</td>
                <td>{$admin_user.username}</td>
                <td>{$admin_user.email}</td>
                <td>{$admin_user.last_login_time}</td>
                <td>{$admin_user.last_login_ip}</td>
                <td>{$admin_user.login_num}</td>
                <td colspan="2">
                    <a href="update.shtml?id={$admin_user.id}">
                        <input type="button" value="修改">
                    </a>
                    <a href="post.shtml?method=delete&id={$admin_user.id}">
                        <input type="button" value="删除">
                    </a>
                </td>
            </tr>
        </volist>
    </table>
</div>
</body>
</html>