<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加Trade</title>
</head>
<body>
<div>
    <form action="post.shtml?method=create" method="post">
        <table border="1">
            <th colspan="10">添加Trade</th>
            <tr>
                <td>trade date</td>
                <td><input type="text" required="required" name="trade_date" placeholder="new trade date"></td>
            </tr>
            <tr>
                <td>trade time</td>
                <td><input type="text" required="required" name="trade_time" placeholder="new trade time"></td>
            </tr>
            <tr>
                <td>reserve date</td>
                <td><input type="text" required="required" name="reserve_date" placeholder="new reserve date"></td>
            </tr>
            <tr>
                <td>reserve time</td>
                <td><input type="text" required="required" name="reserve_time" placeholder="new reserve time"></td>
            </tr>
            <tr>
                <td>customer name</td>
                <td><input type="text" required="required" name="customer_name_en" placeholder="new customer name"></td>
            </tr>
            <tr>
                <td>customer id</td>
                <td><input type="text" required="required" name="customer_id" placeholder="new customer id"></td>
            </tr>
            <tr>
                <td>shop id</td>
                <td><input type="text" required="required" name="shop_id" placeholder="new shop id"></td>
            </tr>
            <tr>
                <td>shop name</td>
                <td><input type="text" required="required" name="shop_name" placeholder="new shop name"></td>
            </tr>
            <tr>
                <td> value</td>
                <td><input type="text" required="required" name="value" placeholder="new value"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="         添加         " style="display: block;margin: 0 auto 0"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>