<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alipay</title>
</head>
<body>
<div>
    <table border="1">
	    <form action="__SELF__" method="post">
			<th colspan="9">查找Alipay交易
				<td>
					<input type="hidden" value="submitted" name="action">
					<input type="submit" value="查找" style="background-color: orange">
				</td>
			</th>
			<tr>
			    <td>Trade No</td>
				<td>Operator Email</td>
				<td>Trade Amount</td>
				<td>Time from</td>
				<td>Time to</td>
				<td>Subject</td>
				<td>Exchange Rate</td>
				<td>Buyer Id</td>
				<td>State</td>
				<td>Payment Methode</td>
			</tr>
			<tr>
				<td><input type="text" name="partner_trans_id" placeholder="keep blank in case of unlimited"></td>
				<td><input type="text" name="trader_email" placeholder="keep blank in case of unlimited"></td>
				<td><input type="text" name="trans_amount" placeholder="keep blank in case of unlimited"></td>
				<td><input type="date" name="trans_create_time_begin" placeholder="keep blank in case of unlimited"></td>
				<td><input type="date" name="trans_create_time_end" placeholder="keep blank in case of unlimited"></td>
				<td><input type="text" name="subject" placeholder="keep blank in case of unlimited"></td>
				<td><input type="text" name="exchange_rate" placeholder="keep blank in case of unlimited"></td>
				<td><input type="text" name="alipay_buyer_login_id" placeholder="keep blank in case of unlimited"></td>
				<td><select name="state">
						<option value="">all</option>
						<option value="1">confirming by bank</option>
						<option value="2">succeed</option>
						<option value="3">failed</option>
						<option value="-1">refunded</option>
				    </select>
				</td>
				<td><select name="method">
						<option value="">all</option>
						<option value="1">merchant scan</option>
						<option value="2">client scan</option>
				    </select>
				</td>
			</tr>
		</form>
		
		<volist name="trade_list" id="trade">
		<tr>
			<td>{$trade.partner_trans_id}</td>
			<td>{$trade.trader_email}</td>
			<td>{$trade.trans_amount}</td>
			<td colspan="2">{$trade.trans_create_time}</td>
			<td>{$trade.subject}</td>
			<td>{$trade.exchange_rate}</td>
			<td>{$trade.alipay_buyer_login_id}</td>
			<td><eq name="trade['state']" value="0">new trade</eq>
				<eq name="trade['state']" value="1">confirming by bank</eq>
				<eq name="trade['state']" value="2">succeed</eq>
				<eq name="trade['state']" value="3">failed</eq>
				<eq name="trade['state']" value="-1">refunded</eq>
			</td>
			<td><eq name="trade['method']" value="1">merchant scan</eq>
				<eq name="trade['method']" value="2">client scan</eq>
			</td>
			
		</tr>
		</volist>
    </table>
</div>
</body>
</html>