<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../CSS/MyStyle.css"/>
    <script src="../JS/MaScript.js"></script>
</head>
<body id="PageHome">
    <div id="page_shop_left">
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
        <p>test</p>
    </div>
    <div id="page_shop_right">
        <header id="shop_header">
            <img src="../IMAGE/Logo_navi.png" class="logo_navi" onclick="page_shop_navi()"/>
            <form  >
                <input id="search_pagenom" class="search" type="search" placeholder="搜索" />
            </form>
            <form>
                <select id="page_shop_select">
                    <volist>
                    <option value="法国">法国</option>
                    <option value="德国">德国</option>
                    </volist>
                </select>
            </form>
        </header>
        <div id="navi">
            <ul>
                <!-- 此处如果加上volist则liste不能横着显示 -->

                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>标签</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>鞋子</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>包</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>配饰</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>表</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>美妆</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>衣服</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>鞋子</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>包</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>配饰</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>表</p></a></li>
                    <li class="elementNavi"><a class="elementNavi_a" href="#"><p>美妆</p></a></li>

            </ul>
        </div>
        <div id="page_nom">
            <volist>
                <div style="width: 100%">
                    <img class="img_principal" src="../IMAGE/shop_city1.png">
                    <div class="annexe">
                        <p>店铺名称</p>
                        <p>店铺地址</p>
                        <p>导航</p>
                        <a href="#"><img src="../IMAGE/MOI/导航.png" class="img_shop_daohang"></a>
                    </div>
                </div>
                <div style="width: 100%">
                    <img class="img_principal" src="../IMAGE/shop_city1.png">
                    <div class="annexe">
                        <p>店铺名称</p>
                        <p>店铺地址</p>
                        <p>导航</p>
                        <a href="#"><img src="../IMAGE/MOI/导航.png" class="img_shop_daohang"></a>
                    </div>
                </div>
                <div style="width: 100%">
                    <img class="img_principal" src="../IMAGE/shop_city1.png">
                    <div class="annexe">
                        <p>店铺名称</p>
                        <p>店铺地址</p>
                        <p>导航</p>
                        <a href="#"><img src="../IMAGE/MOI/导航.png" class="img_shop_daohang"></a>
                    </div>
                </div>
                <div style="width: 100%">
                    <img class="img_principal" src="../IMAGE/shop_city1.png">
                    <div class="annexe">
                        <p>店铺名称</p>
                        <p>店铺地址</p>
                        <p>导航</p>
                        <a href="#"><img src="../IMAGE/MOI/导航.png" class="img_shop_daohang"></a>
                    </div>
                </div>
                <div style="width: 100%">
                    <img class="img_principal" src="../IMAGE/shop_city1.png">
                    <div class="annexe">
                        <p>店铺名称</p>
                        <p>店铺地址</p>
                        <p>导航</p>
                        <a href="#"><img src="../IMAGE/MOI/导航.png" class="img_shop_daohang"></a>
                    </div>
                </div>

            </volist>

        </div>
        <div id="page_nom_footer">
            <a href="#"> <img class="pagenomfooter" src="../IMAGE/2.png"></a>
            <a href="EAT.html"> <img class="pagenomfooter" src="../IMAGE/3.png"></a>
            <a href="#"> <img class="pagenomfooter" src="../IMAGE/4.png"></a>
            <a href="#"> <img class="pagenomfooter" src="../IMAGE/10.png"></a>
        </div>
    </div>













































</body>
</html>