<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../CSS/MyStyle.css"/>
    <style>

    </style>
</head>
<body>
<div id="navi">

        <volist>
            <a class="elementNavi_a" href="#"><p>标签</p></a></li>
            <a class="elementNavi_a" href="#"><p>鞋子</p></a></li>
            <a class="elementNavi_a" href="#"><p>包</p></a></li>
            <a class="elementNavi_a" href="#"><p>配饰</p></a></li>
            <a class="elementNavi_a" href="#"><p>表</p></a></li>
            <a class="elementNavi_a" href="#"><p>美妆</p></a></li>
            <a class="elementNavi_a" href="#"><p>衣服</p></a></li>
            <a class="elementNavi_a" href="#"><p>鞋子</p></a></li>
            <a class="elementNavi_a" href="#"><p>包</p></a></li>
            <a class="elementNavi_a" href="#"><p>配饰</p></a></li>
            <a class="elementNavi_a" href="#"><p>表</p></a></li>
            <a class="elementNavi_a" href="#"><p>美妆</p></a></li>
        </volist>

    
</div>
</body>
</html>