<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理人员列表</title>
    <style>
        tr td:nth-child(1){
            background-color: #b0ebf2;
        }
        tr td:nth-child(2){
            background-color:lightgoldenrodyellow;
        }
        tr td:nth-child(3){
            background-color: lightgreen;
        }
        tr td:nth-child(4){
            background-color: lightpink;
        }
    </style>
</head>
<body>
    <div>
        <table border="1">
            <th colspan="6">Voucher列表</th>
            <tr>
                <td>ID</td>
                <td>用户名</td>
                <td>邮箱</td>
                <td>所属店铺</td>
                <td colspan="2">
                    <a href="addToIndex.html">
                        <input type="button" value="       添加       " style="background-color: orange">
                    </a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>User1</td>
                <td>user111@hotmail.com</td>
                <td>巴黎春天</td>
                <td colspan="2">
                    <a href="updateToIndex.html">
                        <input type="button" value="修改">
                    </a>
                    <input type="button" value="删除">
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>SpuerMan</td>
                <td>superman@gmail.com</td>
                <td>巴黎春天</td>
                <td colspan="2">
                    <a href="updateToIndex.html">
                        <input type="button" value="修改">
                    </a>
                    <input type="button" value="删除">
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>User22</td>
                <td>user2@qq.com</td>
                <td>老佛爷</td>
                <td colspan="2">
                    <a href="updateToIndex.html">
                        <input type="button" value="修改">
                    </a>
                    <input type="button" value="删除">
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Hahahaha</td>
                <td>lolololol@outlook.com</td>
                <td>巴黎春天</td>
                <td colspan="2">
                    <a href="updateToIndex.html">
                        <input type="button" value="修改">
                    </a>
                    <input type="button" value="删除">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>