<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改Voucher信息</title>
</head>
<body>
<form action="#" method="post">
    <table border="1">
        <th colspan="6">修改用户信息</th>
        <tr>
            <td>ID</td>
            <td><input type="text" name="UserId" placeholder="1"></td>
        </tr>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="UserName" placeholder="User1"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="         修改         " style="display: block;margin: 0 auto 0"></td>
        </tr>
    </table>
</form>
</body>
</html>