<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voucher列表</title>
</head>
<body>
<div>
    <table border="1">
        <th colspan="5">Voucher列表</th>
        <tr>
            <td>ID</td>
            <td>voucher名字</td>
            <td colspan="2">
                <a href="addToVoucher.html">
                    <input type="button" value="       添加       " style="background-color: orange">
                </a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>User1</td>
            <td colspan="2">
                <a href="updateToVoucher.html">
                    <input type="button" value="修改">
                </a>
                <input type="button" value="删除">
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>SpuerMan</td>
            <td colspan="2">
                <a href="updateToVoucher.html">
                    <input type="button" value="修改">
                </a>
                <input type="button" value="删除">
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>User22</td>
            <td colspan="2">
                <a href="updateToVoucher.html">
                    <input type="button" value="修改">
                </a>
                <input type="button" value="删除">
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Hahahaha</td>
            <td colspan="2">
                <a href="updateToVoucher.html">
                    <input type="button" value="修改">
                </a>
                <input type="button" value="删除">
            </td>
        </tr>
    </table>
</div>
</body>
</html>