<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改 good </title>
</head>
<body>
<div>
    <form action="post.shtml?method=update&id={good.id}" method="post">
        <table border="1">
            <th colspan="17">修改 good </th>
            <tr>
                <td>商店id</td>
                <td>
                    <select name="shop_id">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>subtitle</td>
                <td><input type="text" required="required" name="subtitle" value={$good.subtitle}></td>
            </tr>
            <tr>
                <td>sn</td>
                <td><input type="text" required="required" name="sn" value={$good.sn}></td>
            </tr>
            <tr>
                <td>status</td>
                <td><input type="text" required="required" name="status" value={$good.status}></td>
            </tr>
            <tr>
                <td>status_ext</td>
                <td><input type="text" required="required" name="status_ext" value={$good.status_ext}></td>
            </tr>
            <tr>
                <td>number</td>
                <td><input type="text" required="required" name="number" value={$good.number}></td>
            </tr>
            <tr>
                <td>market_price</td>
                <td><input type="text" required="required" name="market_price" value={$good.market_price}></td>
            </tr>
            <tr>
                <td>shop_price</td>
                <td><input type="text" required="required" name="shop_price" value={$good.shop_price}></td>
            </tr>
            <tr>
                <td>keyword</td>
                <td><input type="text" required="required" name="keyword" value={$good.keyword}></td>
            </tr>
            <tr>
                <td>description</td>
                <td><input type="text" required="required" name="description" value={$good.description}></td>
            </tr>
            <tr>
                <td>content</td>
                <td><input type="text" required="required" name="content" value={$good.content}></td>
            </tr>
            <tr>
                <td>parameter</td>
                <td><input type="text" required="required" name="parameter" value={$good.parameter}></td>
            </tr>
            <tr>
                <td>content</td>
                <td><input type="text" required="required" name="content" value={$good.content}></td>
            </tr>
            <tr>
                <td>up_time</td>
                <td><input type="text" required="required" name="up_time" value={$good.up_time}></td>
            </tr>
            <tr>
                <td>sort</td>
                <td><input type="text" required="required" name="sort" value={$good.sort}></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="         修改         " style="display: block;margin: 0 auto 0"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>